.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputform label{
    display: block;
    padding-bottom: 20px;
}
.inputform input {
    border: 2px solid black;
}
.inputform button{
    text-align: center;
    display: block;
    margin: 0 auto;
}